:root {
  --primary-color: #002b5b;
  --accent-color: #c7a008;
  --light-bg: #f8f9fa;
  --text-dark: #1a1a1a;
}

body {
  background-color: var(--light-bg);
  color: var(--text-dark);
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

/* Header */
.header {
  background-color: var(--primary-color);
  color: white;
   align-items: center;
     z-index: 1;
  position: fixed;
  width: 100%;
}
.nav-link {
  color: #ddd !important;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.3s;
}
.nav-link:hover {
  color: var(--accent-color) !important;
   transform: scale(1.40);
}

/* Home Section */
#home-section {
  background: linear-gradient(to right, #e8edf1, #ffffff);
}

/* Cards */
.card {
  background-color: white;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
.card h1 {
  color: var(--primary-color);
  border-bottom: 2px solid var(--accent-color);
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

/* Footer */
footer {
  background-color: var(--primary-color);
  color: white;
}
footer a img {
  filter: brightness(0) invert(1);
  transition: transform 0.3s;
}
footer a:hover img {
  transform: scale(1.20);
}
.footer-bottom {
  background-color: rgba(0, 0, 0, 0.2);
}
